<!-- <table class="table table-bordererd">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Price</th>
      <th>Status</th>
      <th></th>
      jjdlsllsl
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.status ? "Còn hàng" : "hết hàng" }}</td>
      <td>
        <button class="btn btn-danger" (click)="onHandleRemove(product.id!)">
          Delete
        </button>
        <a [routerLink]="['/product/edit', product.id]">Edit </a>
      </td>
    </tr>
  </tbody>
</table> -->
<!-- <div class="table-operations">
  <button nz-button (click)="sortByAge()">Sort age</button>
  <button nz-button (click)="resetFilters()">Clear filters</button>
  <button nz-button (click)="resetSortAndFilters()">Clear filters and sorters</button> -->
<!-- </div> -->

<nz-table #filterTable [nzData]="listOfData" nzTableLayout="fixed">
  <thead>
    <tr>
      <th
        *ngFor="let column of listOfColumns; trackBy: trackByName"
        [(nzSortOrder)]="column.sortOrder"
        [nzSortFn]="column.sortFn"
        [nzFilters]="column.listOfFilter"
        [nzFilterFn]="column.filterFn"
      >
        {{ column.name }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.status }}</td>
      <td>
        <button class="" (click)="onHandleRemove(product.id!)">
          Delete
        </button>
        <a [routerLink]="['/adminproduct/edit', product.id]">Edit </a>
      </td>
    </tr>
  </tbody>
</nz-table>


