<div class="table-data">

    <body class="flex items-center justify-center py-8 px-2">
        <div class="w-full sm:px-6">
            <div class="px-4 md:px-10 py-4 md:py-7 bg-gray-100 rounded-tl-lg rounded-tr-lg">
                <div class="sm:flex items-center justify-between">
                    <p class="text-base sm:text-lg md:text-xl lg:text-2xl font-bold leading-normal text-gray-800">
                        Products</p>
                    <div>
                        <button
                            class="inline-flex sm:ml-3 mt-4 sm:mt-0 items-start justify-start px-6 py-3 bg-indigo-700 hover:bg-indigo-600 focus:outline-none rounded">
                            <p class="text-sm font-medium leading-none text-white"><a
                                    [routerLink]="['/admin/product/add']">New Products</a></p>
                        </button>
                    </div>
                </div>
            </div>
            <div class="bg-white shadow px-4 md:px-10 pt-4 md:pt-7 pb-5 overflow-y-auto">
                <table class="w-full whitespace-nowrap">
                    <thead>
                        <tr class="h-16 w-full text-sm leading-none text-gray-800">
                            <th class="font-normal text-left pl-4">Name</th>
                            <th class="font-normal text-left pl-12">Status</th>
                            <th class="font-normal text-left pl-12">Price</th>
                            <th class="font-normal text-left pl-12">Desc</th>
                            <th class="font-normal text-left pl-16">Actions</th>
                            <th class="font-normal text-left pl-16">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="w-full">
                        <tr *ngFor="let product of products"
                            class="h-20 text-sm leading-none text-gray-800 bg-white hover:bg-gray-100 border-b border-t border-gray-100">
                            <td class="pl-4 cursor-pointer">
                                <div class="flex items-center">
                                    <div class="w-10 h-10">
                                        <img class="w-full h-full"
                                            src="https://cdn.tuk.dev/assets/templates/olympus/projects.png" />
                                    </div>
                                    <div class="pl-4">
                                        <p class="font-medium">{{product.name}}</p>
                                        <p class="text-xs leading-3 text-gray-600 pt-2">Herman Group</p>
                                    </div>
                                </div>
                            </td>
                            <td class="pl-12">
                                <p class="text-sm font-medium leading-none text-gray-800">{{product.status}}</p>
                                <div class="w-24 h-3 bg-gray-100 rounded-full mt-2">
                                    <div class="w-20 h-3 bg-green-progress rounded-full"></div>
                                </div>
                            </td>

                            <td class="pl-12">
                                <p class="text-sm font-medium leading-none text-gray-800">{{product.price}}</p>



                            </td>
                            <td class="pl-12">
                                <p class="text-sm font-medium leading-none text-gray-800">{{product.desc}}</p>



                            </td>
                            <td class="pl-12">
                                <a [routerLink]="['/admin/product/edit', product.id]">
                                    <button
                                        class="mx-2 my-2 bg-white transition duration-150 ease-in-out hover:border-indigo-600 hover:text-indigo-600 rounded border border-indigo-700 text-indigo-700 px-8 py-3 text-sm">Edit</button>
                                </a>


                            </td>
                            <td class="pl-12">
                                <button (click)="onHandleRemove(product.id!)"
                                    class="mx-2 my-2 bg-red transition duration-150 ease-in-out hover:border-red-600 hover:text-red-600 rounded border border-red-700 text-red-700 px-8 py-3 text-sm">Delete</button>

                            </td>



                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </body>
</div>